# Setup
Importing necessary libraries and datasets. The `us_cities_by_state_SEPT.2023.csv` dataset contains duplicate rows. I delete duplicates to reduce computation time and accuracy.

In [1]:
import json, time, urllib.parse, pandas as pd, requests

In [115]:
cities = pd.read_csv("starting_data/us_cities_by_state_SEPT.2023.csv").drop_duplicates().reset_index(drop=True)
cities['revision_id'] = None
cities['article_quality'] = None
cities.head()

,state,page_title,url,revision_id,article_quality
0,Alabama,"Abbeville, Alabama","https://en.wikipedia.org/wiki/Abbeville,_Alabama",None,None
1,Alabama,"Adamsville, Alabama","https://en.wikipedia.org/wiki/Adamsville,_Alabama",None,None
2,Alabama,"Addison, Alabama","https://en.wikipedia.org/wiki/Addison,_Alabama",None,None
3,Alabama,"Akron, Alabama","https://en.wikipedia.org/wiki/Akron,_Alabama",None,None
4,Alabama,"Alabaster, Alabama","https://en.wikipedia.org/wiki/Alabaster,_Alabama",None,None

The given dataset does not have Connecticut or Nebraska.

# Step 2: Getting Article Quality Predictions
Define constants and a function that gets the revision ID of an article in the `us_cities_by_state_SEPT.2023.csv` dataset by calling the Wikipedia API.

In [116]:
#########
#
#    CONSTANTS
#

# The basic English Wikipedia API endpoint
API_ENWIKIPEDIA_ENDPOINT = "https://en.wikipedia.org/w/api.php"

# We'll assume that there needs to be some throttling for these requests - we should always be nice to a free data resource
API_LATENCY_ASSUMED = 0.002       # Assuming roughly 2ms latency on the API and network
API_THROTTLE_WAIT = (1.0/100.0)-API_LATENCY_ASSUMED

# When making automated requests we should include something that is unique to the person making the request
# This should include an email - your UW email would be good to put in there
REQUEST_HEADERS = {
    'User-Agent': 'jjoko@uw.edu, University of Washington, MSDS DATA 512 - AUTUMN 2023',
}

# This is a string of additional page properties that can be returned see the Info documentation for
# what can be included. If you don't want any this can simply be the empty string
PAGEINFO_EXTENDED_PROPERTIES = "talkid|url|watched|watchers"
#PAGEINFO_EXTENDED_PROPERTIES = ""

# This template lists the basic parameters for making this
PAGEINFO_PARAMS_TEMPLATE = {
    "action": "query",
    "format": "json",
    "titles": "",           # to simplify this should be a single page title at a time
    "prop": "info",
    "inprop": PAGEINFO_EXTENDED_PROPERTIES
}

In [117]:
#########
#
#    PROCEDURES/FUNCTIONS
#

def request_pageinfo_per_article(article_title = None, 
                                 endpoint_url = API_ENWIKIPEDIA_ENDPOINT, 
                                 request_template = PAGEINFO_PARAMS_TEMPLATE,
                                 headers = REQUEST_HEADERS):
    
    # article title can be as a parameter to the call or in the request_template
    if article_title:
        request_template['titles'] = article_title

    if not request_template['titles']:
        raise Exception("Must supply an article title to make a pageinfo request.")

    # make the request
    try:
        # we'll wait first, to make sure we don't exceed the limit in the situation where an exception
        # occurs during the request processing - throttling is always a good practice with a free
        # data source like Wikipedia - or any other community sources
        if API_THROTTLE_WAIT > 0.0:
            time.sleep(API_THROTTLE_WAIT)
        response = requests.get(endpoint_url, headers=headers, params=request_template)
        json_response = response.json()
    except Exception as e:
        print(e)
        json_response = None
    return json_response

Define constants and a function that gets makes an ORES request using the page title and current revision id. I am defining a constant for my access token because I only intend to distribute this notebook with myself and the instructional staff. Otherwise, I'd store the access token in a local hidden file.

In [155]:
#########
#
#    CONSTANTS
#

#    The current LiftWing ORES API endpoint and prediction model
#
API_ORES_LIFTWING_ENDPOINT = "https://api.wikimedia.org/service/lw/inference/v1/models/{model_name}:predict"
API_ORES_EN_QUALITY_MODEL = "enwiki-articlequality"

#
#    The throttling rate is a function of the Access token that you are granted when you request the token. The constants
#    come from dissecting the token and getting the rate limits from the granted token. An example of that is below.
#
API_LATENCY_ASSUMED = 0.002       # Assuming roughly 2ms latency on the API and network
API_THROTTLE_WAIT = (60.0/5000.0)-API_LATENCY_ASSUMED

#    When making automated requests we should include something that is unique to the person making the request
#    This should include an email - your UW email would be good to put in there
#    
#    Because all LiftWing API requests require some form of authentication, you need to provide your access token
#    as part of the header too
#
REQUEST_HEADER_TEMPLATE = {
    'User-Agent': "jjoko@uw.edu, University of Washington, MSDS DATA 512 - AUTUMN 2023",
    'Content-Type': 'application/json',
    'Authorization': "Bearer {access_token}"
}
#
#    This is a template for the parameters that we need to supply in the headers of an API request
#
REQUEST_HEADER_PARAMS_TEMPLATE = {
    'email_address' : "jjoko@uw.edu",         # your email address should go here
    'access_token'  : "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI5M2QwMmZhY2RiNDIyNDI5N2M0YzU1ZmNlMTg5MGU3MyIsImp0aSI6ImIwMmU1MjU2MmI1ZjQxNjJlODdjMGI5MjdiNTY1MTczMjg1OWI3NTcxNjc2MDk0YjQwZGIyZDExZjJkYTQ2ZjVmMWEwYzM1ZDllZDc1MGIxIiwiaWF0IjoxNjk3MjMzNDM2LjM0NDEwNiwibmJmIjoxNjk3MjMzNDM2LjM0NDEwOSwiZXhwIjozMzI1NDE0MjIzNi4zNDI3NzMsInN1YiI6IjczOTk4ODk4IiwiaXNzIjoiaHR0cHM6Ly9tZXRhLndpa2ltZWRpYS5vcmciLCJyYXRlbGltaXQiOnsicmVxdWVzdHNfcGVyX3VuaXQiOjUwMDAsInVuaXQiOiJIT1VSIn0sInNjb3BlcyI6WyJiYXNpYyJdfQ.XnUGpEA01TR6aOd2XOfYxE72cscL9tK8cJ6PKcO5v1-ufSiGu-CeKAned8zNVG8HyqyaapPUfhr8wybl0FuY6ouEVxy0oxiVlxoobYPx5uzGIpE-ubNzyZdd5sRVmiQAKWIC322bY4C3nvL7qxC_rX9MN2mXXgJ010imENg6O5mmiDd9_YMaOoWMMtKq53rZE-Eltdeyb_Lza7ryQkz51A5_YuduGHfFMfEj6PpssWscdH4m4CzqrZbTWVtjhab3jkYdEqWmzXtvgR3fZz7TzMTuZFlBNk4tIPv6aaLn-sqm1NOe0wWizMkGcdxHRl7pdnhOLhlYr8hgdfZ1Og0JBkLF44i-ztyJj6YGVFN4nC03xWRWAxGQV9DHGqMSHdWkUAXZCaI2YQ7UyNah48SLhdukUpAq1mq7KZSh5dHppM5vmPreUB4TGtaVpVPmxcObmeLrVTGdUJ5Rbs0Lr_RbcMCwa4ce0CFWeUOYjuh4-BhY15M1-98wVKBjSq_04WECrdaITwUaluRuZYqkVaI5mzwyvnVAbv3Jy98UYJXd9e2nB7fU1Bvaw4XsOrhLejmWpDrL1VfTQlv203MojrOS_DH57wdmksGOgvo-N7xSAFn8C0SwTZXJUmDbjqGqHMtHixBe9UKOSvzINrSIqOG5F12lPVcGZLyUBucoZlfdfE8"          # the access token you create will need to go here
}

#
#    A dictionary of English Wikipedia article titles (keys) and sample revision IDs that can be used for this ORES scoring example
#
ARTICLE_REVISIONS = { 'Bison':1085687913 , 'Northern flicker':1086582504 , 'Red squirrel':1083787665 , 'Chinook salmon':1085406228 , 'Horseshoe bat':1060601936 }

#
#    This is a template of the data required as a payload when making a scoring request of the ORES model
#
ORES_REQUEST_DATA_TEMPLATE = {
    "lang":        "en",     # required that its english - we're scoring English Wikipedia revisions
    "rev_id":      "",       # this request requires a revision id
    "features":    True
}

#
#    These are used later - defined here so they, at least, have empty values
#
USERNAME = "Jamesjoko"
ACCESS_TOKEN = "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI5M2QwMmZhY2RiNDIyNDI5N2M0YzU1ZmNlMTg5MGU3MyIsImp0aSI6ImIwMmU1MjU2MmI1ZjQxNjJlODdjMGI5MjdiNTY1MTczMjg1OWI3NTcxNjc2MDk0YjQwZGIyZDExZjJkYTQ2ZjVmMWEwYzM1ZDllZDc1MGIxIiwiaWF0IjoxNjk3MjMzNDM2LjM0NDEwNiwibmJmIjoxNjk3MjMzNDM2LjM0NDEwOSwiZXhwIjozMzI1NDE0MjIzNi4zNDI3NzMsInN1YiI6IjczOTk4ODk4IiwiaXNzIjoiaHR0cHM6Ly9tZXRhLndpa2ltZWRpYS5vcmciLCJyYXRlbGltaXQiOnsicmVxdWVzdHNfcGVyX3VuaXQiOjUwMDAsInVuaXQiOiJIT1VSIn0sInNjb3BlcyI6WyJiYXNpYyJdfQ.XnUGpEA01TR6aOd2XOfYxE72cscL9tK8cJ6PKcO5v1-ufSiGu-CeKAned8zNVG8HyqyaapPUfhr8wybl0FuY6ouEVxy0oxiVlxoobYPx5uzGIpE-ubNzyZdd5sRVmiQAKWIC322bY4C3nvL7qxC_rX9MN2mXXgJ010imENg6O5mmiDd9_YMaOoWMMtKq53rZE-Eltdeyb_Lza7ryQkz51A5_YuduGHfFMfEj6PpssWscdH4m4CzqrZbTWVtjhab3jkYdEqWmzXtvgR3fZz7TzMTuZFlBNk4tIPv6aaLn-sqm1NOe0wWizMkGcdxHRl7pdnhOLhlYr8hgdfZ1Og0JBkLF44i-ztyJj6YGVFN4nC03xWRWAxGQV9DHGqMSHdWkUAXZCaI2YQ7UyNah48SLhdukUpAq1mq7KZSh5dHppM5vmPreUB4TGtaVpVPmxcObmeLrVTGdUJ5Rbs0Lr_RbcMCwa4ce0CFWeUOYjuh4-BhY15M1-98wVKBjSq_04WECrdaITwUaluRuZYqkVaI5mzwyvnVAbv3Jy98UYJXd9e2nB7fU1Bvaw4XsOrhLejmWpDrL1VfTQlv203MojrOS_DH57wdmksGOgvo-N7xSAFn8C0SwTZXJUmDbjqGqHMtHixBe9UKOSvzINrSIqOG5F12lPVcGZLyUBucoZlfdfE8"
#

In [156]:
#########
#
#    PROCEDURES/FUNCTIONS
#

def request_ores_score_per_article(article_revid = None, email_address=None, access_token=None,
                                   endpoint_url = API_ORES_LIFTWING_ENDPOINT, 
                                   model_name = API_ORES_EN_QUALITY_MODEL, 
                                   request_data = ORES_REQUEST_DATA_TEMPLATE, 
                                   header_format = REQUEST_HEADER_TEMPLATE, 
                                   header_params = REQUEST_HEADER_PARAMS_TEMPLATE):
    
    #    Make sure we have an article revision id, email and token
    #    This approach prioritizes the parameters passed in when making the call
    if article_revid:
        request_data['rev_id'] = article_revid
    if email_address:
        header_params['email_address'] = email_address
    if access_token:
        header_params['access_token'] = access_token
    
    #   Making a request requires a revision id - an email address - and the access token
    if not request_data['rev_id']:
        raise Exception("Must provide an article revision id (rev_id) to score articles")
    if not header_params['email_address']:
        raise Exception("Must provide an 'email_address' value")
    if not header_params['access_token']:
        raise Exception("Must provide an 'access_token' value")
    
    # Create the request URL with the specified model parameter - default is a article quality score request
    request_url = endpoint_url.format(model_name=model_name)
    
    # Create a compliant request header from the template and the supplied parameters
    headers = dict()
    for key in header_format.keys():
        headers[str(key)] = header_format[key].format(**header_params)
    
    # make the request
    try:
        # we'll wait first, to make sure we don't exceed the limit in the situation where an exception
        # occurs during the request processing - throttling is always a good practice with a free data
        # source like ORES - or other community sources
        if API_THROTTLE_WAIT > 0.0:
            time.sleep(API_THROTTLE_WAIT)
        #response = requests.get(request_url, headers=headers)
        response = requests.post(request_url, headers=headers, data=json.dumps(request_data))
        json_response = response.json()
    except Exception as e:
        print(e)
        json_response = None
    return json_response

a) read each line of us_cities_by_state_SEPT.2023.csv, b) make a page info request to get the current article page revision, and c) then make an ORES request using the page title and current revision id.

In [194]:
revision_ids = []
for idx in range(15833, len(cities)):
    try:
        row = cities.iloc[idx]
        revision_id = list(request_pageinfo_per_article(row["page_title"])["query"]["pages"].values())[0]["lastrevid"]
        row["revision_id"] = revision_id
        score = request_ores_score_per_article(article_revid=revision_id,
                                           email_address="jjoko@uw.edu",
                                           access_token=ACCESS_TOKEN)["enwiki"]["scores"][str(revision_id)]["articlequality"]["score"]["prediction"]
        row["article_quality"] = score
    except TypeError:
        print(f"Error on row index:{idx}")

In [258]:
cities.to_csv("intermediate_data/us_cities_article_quality.csv", index = False)
pd.read_csv("intermediate_data/us_cities_article_quality.csv").head()

,state,page_title,url,revision_id,article_quality
0,Alabama,"Abbeville, Alabama","https://en.wikipedia.org/wiki/Abbeville,_Alabama",1171163550,C
1,Alabama,"Adamsville, Alabama","https://en.wikipedia.org/wiki/Adamsville,_Alabama",1177621427,C
2,Alabama,"Addison, Alabama","https://en.wikipedia.org/wiki/Addison,_Alabama",1168359898,C
3,Alabama,"Akron, Alabama","https://en.wikipedia.org/wiki/Akron,_Alabama",1165909508,GA
4,Alabama,"Alabaster, Alabama","https://en.wikipedia.org/wiki/Alabaster,_Alabama",1179139816,C

In [211]:
cities["article_quality"].value_counts()

C        12926
GA        4727
Start     2102
B          883
Stub       677
FA         210
Name: article_quality, dtype: int64

I was able to get ORES scores for every article.
# Step 3: Combining the Datasets
Merge the us cities article dataset, population dataset, and regional division dataset together. The populaiton dataset contains some non-states and extra information. The result should contain the following columns: state, regional_division, population, article_title, revision_id, article_quality.

First, load the population dataset into memory and pre-process it by removing non-states and extra information and fixing the state column, then inner joining on state.

In [270]:
population = pd.read_excel("starting_data/NST-EST2022-POP.xlsx").iloc[8:-6,[0, 3]].reset_index(drop = True).dropna()
population.columns = ["state", "population"]
population["state"] = [a[1:].replace(" ", "_") for a in population["state"]]
population.head()

        state  population
0     Alabama   5049846.0
1      Alaska    734182.0
2     Arizona   7264877.0
3    Arkansas   3028122.0
4  California  39142991.0

In [250]:
population[~population['state'].isin(cities['state'])]

                   state  population
6            Connecticut   3623355.0
8   District_of_Columbia    668791.0
10               Georgia  10788029.0
27              Nebraska   1963554.0

In [251]:
cities[~cities['state'].isin(population['state'])]["state"].unique()

array(['Georgia_(U.S._state)'], dtype=object)

The us_cities dataset is missing Connecticut, Nebraska, and District of Columbia. Georgia also needs to be reformatted.

In [279]:
cities.loc[cities["state"].str.contains("Georgia"), "state"] = "Georgia"
cities.loc[cities["state"] == "Georgia"].head()

,state,page_title,url,revision_id,article_quality
2442,Georgia,"Abbeville, Georgia","https://en.wikipedia.org/wiki/Abbeville,_Georgia",1171167087,C
2443,Georgia,"Acworth, Georgia","https://en.wikipedia.org/wiki/Acworth,_Georgia",1166760529,C
2444,Georgia,"Adairsville, Georgia","https://en.wikipedia.org/wiki/Adairsville,_Geo...",1165502646,C
2445,Georgia,"Adel, Georgia","https://en.wikipedia.org/wiki/Adel,_Georgia",1168374078,C
2446,Georgia,"Adrian, Georgia","https://en.wikipedia.org/wiki/Adrian,_Georgia",1176950695,C

In [311]:
len(pd.read_excel("starting_data/US States by Region - US Census Bureau.xlsx")["STATE"].dropna())

50

Next, load the regional division dataset into memory and preprocess it by repairing the schema to regional division and state and then inner joining on state. Lastly, fix the structure of the merged dataset to match the homework handout and write to file.

In [419]:
regional_division = pd.read_excel("starting_data/US States by Region - US Census Bureau.xlsx").iloc[:, 1:].dropna(how='all').reset_index(drop = True)
for idx, row in regional_division.iterrows():
    if pd.isna(row["DIVISION"]):
        row["DIVISION"] = regional_division.iloc[idx-1, 0]
regional_division = regional_division.dropna()
regional_division.columns = ["regional_division", "state"]
regional_division["state"] = regional_division["state"].str.replace(" ", "_")
len(regional_division["state"].value_counts())

50

In [423]:
merged = pd.merge(cities, population, on='state', how='left')
merged = pd.merge(merged, regional_division, on='state', how='left')
merged = merged[["state", "regional_division", "population", "page_title", "revision_id", "article_quality"]]
merged.columns = ["state", "regional_division", "population", "article_title", "revision_id", "article_quality"]
merged.head()

,state,regional_division,population,article_title,revision_id,article_quality
0,Alabama,East South Central,5049846.0,"Abbeville, Alabama",1171163550,C
1,Alabama,East South Central,5049846.0,"Adamsville, Alabama",1177621427,C
2,Alabama,East South Central,5049846.0,"Addison, Alabama",1168359898,C
3,Alabama,East South Central,5049846.0,"Akron, Alabama",1165909508,GA
4,Alabama,East South Central,5049846.0,"Alabaster, Alabama",1179139816,C

In [429]:
merged.to_csv("wp_scored_city_articles_by_state.csv", index = False)
pd.read_csv("wp_scored_city_articles_by_state.csv").head()

,state,regional_division,population,article_title,revision_id,article_quality
0,Alabama,East South Central,5049846.0,"Abbeville, Alabama",1171163550,C
1,Alabama,East South Central,5049846.0,"Adamsville, Alabama",1177621427,C
2,Alabama,East South Central,5049846.0,"Addison, Alabama",1168359898,C
3,Alabama,East South Central,5049846.0,"Akron, Alabama",1165909508,GA
4,Alabama,East South Central,5049846.0,"Alabaster, Alabama",1179139816,C

# Step 4: Analysis and Step 5: Results
First, to caluclate total articles per population, I get the number of rows per state (# articles) and divide it by the population of the state. Below is the Top 10 US states by coverage

In [432]:
states_by_coverage = pd.DataFrame(merged["state"].value_counts() / merged["state"].value_counts().index.map(dict(zip(population.state, population.population)))).reset_index()
states_by_coverage.columns = ["state", "total_articles_by_capita"]
states_by_coverage = states_by_coverage.sort_values(by="total_articles_by_capita", ascending=False).reset_index(drop = True)
states_by_coverage.head(10)

           state  total_articles_by_capita
0        Vermont                  0.000509
1   North_Dakota                  0.000458
2          Maine                  0.000351
3   South_Dakota                  0.000347
4           Iowa                  0.000326
5         Alaska                  0.000203
6   Pennsylvania                  0.000196
7       Michigan                  0.000177
8        Wyoming                  0.000171
9  New_Hampshire                  0.000169

Below is the Bottom 10 US states by coverage

In [433]:
states_by_coverage.tail(10).sort_values(by="total_articles_by_capita", ascending=True)

             state  total_articles_by_capita
47  North_Carolina                  0.000005
46          Nevada                  0.000006
45      California                  0.000012
44         Arizona                  0.000013
43        Virginia                  0.000015
42        Oklahoma                  0.000019
41         Florida                  0.000019
40          Kansas                  0.000021
39        Maryland                  0.000025
38       Wisconsin                  0.000033

Second, to caluclate total high quality articles per population, I make a dataframe of only high quality articles, get the number of rows per state (# articles), and divide it by the population of the state. Below is the Top 10 US states by by high quality.

In [434]:
high_quality = merged[(merged["article_quality"] == "FA") | (merged["article_quality"] == "GA")]

In [464]:
states_by_high_qual = pd.DataFrame(high_quality["state"].value_counts() / high_quality["state"].value_counts().index.map(dict(zip(population.state, population.population)))).reset_index()
states_by_high_qual.columns = ["state", "total_high_quality_articles_by_capita"]
states_by_high_qual = states_by_high_qual.sort_values(by="total_high_quality_articles_by_capita", ascending=False).reset_index(drop = True)
states_by_high_qual.head(10)

           state  total_high_quality_articles_by_capita
0        Vermont                               0.000070
1        Wyoming                               0.000067
2   South_Dakota                               0.000062
3  West_Virginia                               0.000059
4        Montana                               0.000050
5  New_Hampshire                               0.000045
6   Pennsylvania                               0.000043
7       Missouri                               0.000043
8         Alaska                               0.000042
9     New_Jersey                               0.000041

Below is the Bottom 10 US states by by high quality.

In [465]:
states_by_high_qual.tail(10)

             state  total_high_quality_articles_by_capita
38        Oklahoma                               0.000008
39          Kansas                               0.000007
40        Maryland                               0.000007
41        New_York                               0.000006
42         Florida                               0.000005
43      California                               0.000004
44         Arizona                               0.000003
45          Nevada                               0.000003
46        Virginia                               0.000002
47  North_Carolina                               0.000002

Lastly, to caluclate total and high quality articles per population by division, I make a dataframe of population per division to aid the calculations. To calculate the total coverage, I get the number of rows per division (# articles), and divide it by the population of the division. To calculate the high quality coverage, I make a dataframe of only high quality articles, get the number of rows per division (# articles), and divide it by the population of the division.

In [451]:
regional_division_population = pd.merge(regional_division, population, on="state", how="left").groupby("regional_division")["population"].sum()
regional_division_population

regional_division
East North Central    47181948.0
East South Central    19474372.0
Middle Atlantic       42137512.0
Mountain              25268390.0
New England           15121745.0
Pacific               53321373.0
South Atlantic        65997557.0
West North Central    21654557.0
West South Central    41205309.0
Name: population, dtype: float64

In [453]:
merged["regional_division"].value_counts()

East North Central    4754
Middle Atlantic       3781
West North Central    3578
West South Central    2103
South Atlantic        1850
East South Central    1529
New England           1437
Pacific               1304
Mountain              1189
Name: regional_division, dtype: int64

Below is the rank ordered list of US census divisions (in descending order) by total articles per capita

In [458]:
regional_division_by_coverage = pd.DataFrame(merged["regional_division"].value_counts() / merged["regional_division"].value_counts().index.map(regional_division_population)).reset_index()
regional_division_by_coverage.columns = ["regional_division", "total_articles_by_capita"]
regional_division_by_coverage = regional_division_by_coverage.sort_values(by="total_articles_by_capita", ascending=False).reset_index(drop = True)
regional_division_by_coverage

    regional_division  total_articles_by_capita
0  West North Central                  0.000165
1  East North Central                  0.000101
2         New England                  0.000095
3     Middle Atlantic                  0.000090
4  East South Central                  0.000079
5  West South Central                  0.000051
6            Mountain                  0.000047
7      South Atlantic                  0.000028
8             Pacific                  0.000024

Below is the rank ordered list of US census divisions (in descending order) by high quality articles per capita.

In [463]:
regional_division_by_high_qual = pd.DataFrame(high_quality["regional_division"].value_counts() / high_quality["regional_division"].value_counts().index.map(regional_division_population)).reset_index()
regional_division_by_high_qual.columns = ["regional_division", "total_high_quality_articles_by_capita"]
regional_division_by_high_qual = regional_division_by_high_qual.sort_values(by="total_high_quality_articles_by_capita", ascending=False).reset_index(drop = True)
regional_division_by_high_qual

    regional_division  total_high_quality_articles_by_capita
0  West North Central                               0.000030
1     Middle Atlantic                               0.000025
2  East South Central                               0.000016
3  West South Central                               0.000015
4  East North Central                               0.000015
5         New England                               0.000015
6            Mountain                               0.000013
7             Pacific                               0.000009
8      South Atlantic                               0.000008